* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #fffbf7;
}
body {
  margin: 0;
}
main {
  text-align: center;
  margin-top: 20rem;
}
h1 {
  font-family: 'Alegreya', serif;
  font-size: 5rem;
  color: #8b8b8bcc;
  font-weight: 700;
}
h4 {
  font-family: 'Slabo 27px', serif;
  font-size: 2.2rem;
  color: #46484c;
}
h1,
h4 {
  margin: 1rem 0;
  font-weight: 300;
}
p {
  font-family: s;
}

button {
  margin-left: -10px;
  height: 50px;
  border-radius: 8px;
  width: 14rem;
  background-color: #025157;
  border-style: none;
  color: #ffffff;
  padding: 6px 20px;
}

/* Header */
.site-header {
  margin: 40px 20px 0 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}
.navbar li {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}
.site-header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}
.logo {
  width: 15%;
}
.logo img {
  height: 100%;
}
.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}
.actions {
  width: 25%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
}
/* Main */
main p {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  color: #afaaaa;
}

form {
  height: 5rem;
  margin: 0;
}

input {
  border: 1px solid #666666;
  height: 100%;
  border-radius: 8px;
  padding: 6px 20px;
}

main button {
  border-radius: 0 8px 8px 0;
}

.image-container {
  margin-top: 3rem;
}
